
@media screen and (min-width: 1024px) {

.homepage > * {
    grid-area: stack;
    
}
.parallax-priorityobj{
}
header{
}
#homepage{
    overflow-x: hidden;
      max-width: 100%;
    max-width: 100%;

}
#trees{
    width: 120vw;
    max-height: fit-content;
    object-fit: cover;
    position: absolute; 
    top: -200px;
    left: 1px;
    z-index: 10;
    animation: parallax linear;
    animation-timeline: scroll();
    --parallax-speed: 20;
}
#hills{
    width: 70.9919071126vw;
    object-fit: cover;
    position: absolute; 
    top: 454px;
    left: 515px;
    z-index: 9;
    animation: parallax linear;
    animation-timeline: scroll();
    --parallax-speed: 18;
}
#empty{
    width: 100vw;
    object-fit: cover;
    position: absolute; 
    z-index: 1;
    animation: parallax linear;
    animation-timeline: scroll();
    --parallax-speed: 5;
}
#hills-2{
    width: 100.999803628vw;
    object-fit: cover;
    position: absolute; 
    top: 0px;
    right: 50px;
    z-index: 8;
    animation: parallax linear;
    animation-timeline: scroll();
    --parallax-speed: 14;
}
#hills-3{
    width: 100vw;
    object-fit: cover;
    position: absolute; 
    top: 80px;
    z-index: 6;
    animation: parallax linear;
    animation-timeline: scroll();
    --parallax-speed: 15;
}
#empty-2{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute; 
    top: 100px;
    z-index: 1;
    animation: parallax linear;
    animation-timeline: scroll();
    --parallax-speed: 5;
}
#hills-4{
    width: 47.5353831137vw;
    object-fit: cover;
    position: absolute; 
    top: 135px;
    left: 900px;
    z-index: 7;
    animation: parallax linear;
    animation-timeline: scroll();
    --parallax-speed: 17;
}
#sky{
    width: 100vw;
    object-fit: cover;
    position: absolute; 
    top: 0px;
    left: 2px;
    z-index: 1;
    animation: parallax linear;
    animation-timeline: scroll();
    --parallax-speed: 20;
}
@keyframes parallax {
    to { 
        transform: translateY(calc(var(--parallax-speed) * -200px))
    }
}
#bpalogo{
    width: 80%
}
}